@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  width: 100%;
}

#__next {
  display: grid;
  grid-template-areas:
    "header-menu"
    "main";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}